name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs: 
  build-server:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      working-directory: ${{ env.workdir-server }}
      run: yarn

    - name: Run tsc compile
      working-directory: ${{ env.workdir-server }}
      run: yarn tsc

    - name: Run the tests and generate coverage report
      working-directory: ${{ env.workdir-server }}
      run: yarn test

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
